@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... any other global styles */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 251, 235;
  --background-end-rgb: 255, 237, 213;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 245, 158, 11;
    --background-end-rgb: 249, 115, 22;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom right,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    )
    fixed;
}

@keyframes pulse {
  0%, 100% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.3;
  }
}

.animate-pulse {
  animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
